<ion-card class="image-card">
  <section>
    <div class="loading-wrapper" *ngIf="loading">
      <ion-spinner></ion-spinner>
    </div>
    <ion-img
      class="image"
      [ngStyle]="visibility"
      [src]="photoElement?.photo"
      [height]="elementHeight"
      (ionError)="errorLoadingImage()"
      (ionImgDidLoad)="imageLoaded()"
      (ionImgWillLoad)="imageWillLoad()"
    ></ion-img>
  </section>
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{ photoElement?.text }}</ion-card-title>
  </ion-card-header>
</ion-card>