<ion-header class="header">
  <section class="title">{{ 'APP_TITLE' | translate }}</section>
  <section class="search-wrapper" (click)="toggleSearchInput()">
    <ion-icon *ngIf="!showSearchInput" name="search-outline"></ion-icon>
    <ion-icon *ngIf="showSearchInput" name="close-outline"></ion-icon>
  </section>
  <section class="text-input-wrapper" [ngClass]="{'visible': showSearchInput}" [formGroup]="searchForm">
    <ion-input [placeholder]="'SEARCH_PLACEHOLDER' | translate" formControlName="search" ngDefaultControl></ion-input>
  </section>
</ion-header>